<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8">
   <title><%= @headers['title'] %></title>

<meta name="generator" content="<%= @headers['generator'] %>">
<meta name="author"    content="<%= @headers['author']%>" >

<!-- style sheet links -->
<link rel="stylesheet/less" href="s6/themes/projection.css.less"   media="screen,projection">
<link rel="stylesheet/less" href="s6/themes/screen.css.less"       media="screen">
<link rel="stylesheet/less" href="s6/themes/print.css.less"        media="print">
<link rel="stylesheet/less" href="s6/themes/cr.css.less"           media="screen,projection">

<!-- JS -->
<script src="s6/js/jquery-1.11.3.min.js"></script>
<script src="s6/js/less-2.5.3.min.js"></script>
<script src="s6/js/jquery.slideshow.js"></script>
<script src="s6/js/jquery.slideshow.counter.js"></script>
<script src="s6/js/jquery.slideshow.controls.js"></script>
<script src="s6/js/jquery.slideshow.footer.js"></script>
<script src="s6/js/jquery.slideshow.autoplay.js"></script>

<script>
  $(document).ready( function() {
    Slideshow.init();
  } );

  <%= content_for :js %>
</script>

<!-- Better Browser Banner for Microsoft Internet Explorer (IE) -->
<!--[if IE]>
<script src="s6/js/jquery.microsoft.js"></script>
<![endif]-->

<%= content_for :head %>

</head>
<body>

<div class="layout">
  <div id="header"></div>
  <div id="footer">
    <div align="right">
      <img src="s6/images/logo.svg" width="200">
    </div>
  </div>
</div>

<div class="presentation">

  <div class='slide cover'>
    <table width="90%" height="90%" border="0" align="center">
      <tr>
        <td>
          <div align="center">
            <h1><font color="#808db5"><%= @headers['title'] %></font></h1>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div align="left">
            <%= @headers['author'] %>
            <%= @headers['profile'] %>
            <hr style="color:#ffcc00;background-color:#ffcc00;text-align:left;border:none;width:100%;height:0.2em;">
          </div>
        </td>
      </tr>
    </table>
  </div>

<%= @content %>

</div><!-- presentation -->
</body>
</html>
